<p>Hello,</p>

<p>
  We are a manufacturer of aluminum foil containers and kitchen foil rolls in China.
</p>

<p>
  We are interested in supplying <?= companyName ?> with wholesale packaging products.
</p>

<p>
  Please let us know if you are currently sourcing similar products.
</p>

<p>
  We can send catalog and quotation.
</p>

<p>
  You can reach us at:
</p>

<p>
  Website: <a href="https://dinghaofoil.com/">dinghaofoil.com</a><br>
  Email: <a href="mailto:contact@dinghaofoil.com">contact@dinghaofoil.com</a><br>
  WhatsApp: +86 18538088919
</p>

<p>
  Best regards,<br>
  Dinghao Foil
</p>